*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.input-wrapper input{
    border: 1px solid #dbdbdb;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    outline: none;
}
.input-wrapper{
    margin-bottom: 10px;
}



.btn{
    padding: 8px 20px;
    background-color: #037bfe;
    color: #ffffff;
    border-radius: 5px;
    border: solid 1px black;
    cursor: pointer;
}
.error{
    color: red;
}
.cursor{
    cursor: pointer;
}
.content{
    word-break: break-all;
}

.header{
    height: 64px;
    background-color: #037bfe;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}
.btn.btn-light{
    background-color: unset;
    color: #333333;
}